@model WebAppSoccer.Models.Match

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Match</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubL.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ClubV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClubV.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
