@model IEnumerable<WebAppSoccer.Models.Match>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DateM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClubV)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubL.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClubV.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
